ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
.red-text{
  color: red;
  text-align: center;
}
.black-text{
  color: black;
  text-align: center;
}
.green-text{
  color: green;
  text-align: center;
}
.blue-text{
  color: blue;
  text-align: center;
}
#main{
  color: coral;
  text-align: right;
}
li[draggable]{
  color: blueviolet;
}
*{
  color: aqua;
}