.red{
    color: red;
    size: 200px;
}
.blue{
    color: blue;
}
.orange{
    color: orange;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
h1[bold]{
    color: coral;
    
}
img{
    width: 200px;
    height: 200px;
}